@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

        * {
            box-sizing: border-box;
        }

        body {
            font-family: "Montserrat", sans-serif;
            background-color: #292c35;
            display: flex;
            justify-content: center;
            align-items: right;
            flex-direction: column;
            text-align: center;
            min-height: 100vh;
            margin: 0;
            transition: background 0.2s linear;
        }

        body.dark {
            background-color: #292c35;
        }

        body.dark h1,
        body.dark .support a {
            color: #fff;
        }

        .checkbox {
            opacity: 0;
            position: absolute;
        }

        .checkbox-label {
            background-color: #111;
            width: 50px;
            height: 26px;
            border-radius: 50px;
            position: relative;
            padding: 5px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .fa-moon {
            color: #f1c40f;
        }

        .fa-sun {
            color: #f39c12;
        }

        .checkbox-label .ball {
            background-color: #fff;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 2px;
            top: 2px;
            border-radius: 50%;
            transition: transform 0.2s linear;
        }

        .checkbox:checked + .checkbox-label .ball {
            transform: translateX(24px);
        }
    
        #me {
            border-radius: 150px;
            width: 288px;
            height: 288px;
          }
        .GFG{
          
              width:200px ;
              height:250px;
          border-radius: 10%;
          }
          .GFG:hover{
              color: #39FF14;
              background: #39FF14;
              box-shadow: 0 0 100px #39FF14;
          }
          .highlight {
            background-color: #e6e600;
            cursor: pointer;
          }
          .button {
            background-color: none;
            border-radius: 6px;
            color:black;
            width : 150px;
            letter-spacing:1px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border: 2px solid #00ffff;
            margin-right: 10px;
            margin-left: 10px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            
            }
            .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
          }
          body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
          }
          
          .topnav {
            overflow: hidden;
            background-color: #292c35 ;
          }
          
          .topnav a {
            float: left;
            display: block;
            color: #2bff00;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          .topnav a:hover {
            border-radius: 50px;
            background-color: rgb(72, 255, 0);
            color: black;
          }
          
          .topnav a.active {
            background-color: #d9ff00;
            border-radius: 25px;
            color: rgb(0, 0, 0);
          }
          
          .topnav .icon {
            display: none;
          }
          
          @media screen and (max-width: 600px) {
            .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
              float: right;
              display: block;
            }
          }
          
          @media screen and (max-width: 600px) {
            .topnav.responsive {position: relative;}
            .topnav.responsive .icon {
              position: absolute;
              right: 0;
              top: 0;
            }
            .topnav.responsive a {
              float: none;
              display: block;
              text-align: left;
            }
          }
          .text {
            font-family: "Times New Roman", Times, serif;
          }
          